<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" thread-count="1">
    <parameter name="backend_url" value="http://localhost:8080"/>
    <parameter name="frontend_url" value="http://localhost:5173"/>
    <parameter name="deep_reporting" value="true"/>

    <test name="UI-Tests">
        <groups>
            <run>
                <include name="P0"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.smile.testcases.LoginTest">
<!--                <methods>-->
<!--                    <include name="test_TC0002_VerifyLoginWithAdministratorSuccess"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>
